<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header" data-hide-if-empty></div>
    <div class="modal-body" data-hide-if-empty></div>
    <div class="modal-footer" data-hide-if-empty></div>
  </div>
</div>
