<div class="form-group">
  <label for="first-name" class="control-label">First name:</label>
  <input type="text" class="form-control" id="first-name" value="">
</div>
<div class="form-group">
  <label for="last-name" class="control-label">Last name:</label>
  <input type="text" autofocus class="form-control" id="last-name" value="">
</div>